@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rounded-blob {
    border-radius: 36% 64% 57% 43% / 72% 43% 57% 28%;
  }
  .rounded-blob-2 {
    border-radius: 54% 46% 61% 39% / 26% 41% 59% 74%;
  }
  .rounded-blob-3 {
    border-radius: 73% 27% 71% 29% / 52% 71% 29% 48%;
  }
  .rounded-blob-4 {
    border-radius: 51% 49% 64% 36% / 31% 33% 67% 69%;
  }
}
